.legal-section{
    padding:40px 0;
    background:var(--bg-light);
}

.legal-card{
    max-width:1000px;
    margin:auto;
    background: #f8fafc;
    padding:40px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    position:relative;
    transition:.3s;
}

.legal-card::before{
    content:"";
    position:absolute;
    inset:0;
    border-radius:20px;
    padding:3px;
    background:linear-gradient(135deg,#38BDF8,#A855F7);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite:xor;
            mask-composite:exclude;

    opacity:0;
    transition:.3s;
    pointer-events:none;
}

.legal-card:hover{
    transform:translateY(-5px);
}

.legal-card:hover::before{
    opacity:1;
}

.legal-card h2{
    margin-bottom:20px;
    color:var(--dark);
    font-size:1.8rem;
}

.legal-content{
    color:var(--text);
    line-height:1.8;
}

.legal-content p{
    margin-bottom:15px;
}

.legal-content ul{
    margin:15px 0;
    padding-left:20px;
}

.legal-content li{
    margin-bottom:10px;
}

@media(max-width:768px){

    .legal-card{
        padding:30px;
    }

    .legal-card h2{
        font-size:1.5rem;
    }

}